<div class="modal-content" >                   
    <div class="modal-body" > 
          <div class="media modal-team">

              	<div class="col-md-4 col-sm-4 col-xs-12">
              		<img src="{{img}}" alt="" >
              	</div>
				<div class="col-md-8 col-sm-8 col-xs-12 text-modal" ng-cloak>
					<h2 ><b>{{name}}</b></h2>
                    <h4><b>{{prof}}</b></h4>
                    <p>{{skill}}</p>
                    <p>
                      {{text}}
                    </p>
				</div>

          </div>                  
  </div>      
</div>
